
.idea
src/__pycache__/*

/venv/

/r/3/
/r/2/
/r/1/

# this one gets saved in outer folder after mgz installation (delete it, but if you dont at least ignore it)
/mgz.egg-info


/backups/
/data_proc/old/
/data_proc/D4.npy
/data_proc/D4_2.npy
/data_proc/D52.npy
/data_proc/D53.npy
